<component class="about-me">
  <h1>Hellooooo {{name}} with age: {{age}}</h1>
  <p>This text is in the about-me Component right now.<br>
  It is also possible to place this in the { {about-me}} tag in the contact Template,<br>
  and then placing a { {yield}} helper in the about-me Component.
  </p>
  <p>Type in some text: {{input type = "text"value=comment}}</p>
</component>