div.intro{
    padding-top: 10px;
    padding-left: 80px;
    padding-right: 10px;
    border: 1px dotted black;
}

p.p-intro{
    color: darkblue;
}

div.country{
    width: 800px;
    float: right;
    background-color: green;
    overflow:auto;
}

hr.half{
    float: left;
    width: 500px;
}

img.flag{
    width: 80px;
}

div.countries{
    max-width: 500px;
}

div.checkbox.checkbox-primary {
    float: right;
    padding-top: 10px;
}