<div class="about">
  <div class="myPicture"></div>
  <h1>About the creator and this application</h1>
  <p>
    About the creator:
    <ul>
      <li>Creator: Tim Verté</li>
      <li>Age: </li>
    </ul>
  </p>
</div>

<!-- TODO !! ==> age dynamisch maken, kijken naar datum en calculeer ! -->