<div class="intro">
  <p class="p-intro">
    Welcome to the country encyclopedia.<br>
    We will try to update this site as regularily as possible.<br>
    Thank you in advance ! 
  </p>
</div>

{{outlet}}

<ul>
  <li>Pages:</li>
  <ul>
    <li>
      {{#link-to "application"}}
        Home
      {{/link-to}}
    </li>
    <li>
      {{#link-to "about"}}
        About
      {{/link-to}}
    </li>
    <li>
      {{#link-to "contact"}}
        Contact
      {{/link-to}}
    </li>
    <li>
      {{#link-to "fill-in-form"}}
        Form
      {{/link-to}}
    </li>
  </ul>
</ul>