<h1>Fill in your information !</h1>
  
<form>
  First name:<br>
  <input class="box" id="firstName" name="firstName" type="text"><br>
  <br>

  Last name:<br>
  <input class="box" name="lastName" type="text"><br>
  <br>

  Age:<br>
  <input class="box" maxlenght="3" name="age" type="text"><br>
  <br>

  <!-- doesn't work yet-->
  <button {{action "btnClicked" firstName}} class= "fillBtn" > Submit</button>
</form>
