<h1>Login page</h1>

Username:<br>
<input type="text" name="user"><br><br>
Password:<br>
<input type="text" name="pass"><br><br>

{{#link-to "countries"}}
  Login
{{/link-to}}
<button {{action "login" "admin" "admin"}} class= "loginBtn" > Login</button>
<!-- has to be the input of the fields !! -->