<h1>Login page</h1>

Username:<br>
<input type="text" name="user"><br><br>
Password:<br>
<input type="text" name="pass"><br><br>
<button {{action "login" user pass}} class= "loginBtn" > Login</button>
